<p>
  <img [src]="mainlist[0].img" [alt]="mainlist[0].alt" style="max-width: 150px; width: 100%;">
</p>
<button routerLink="/sub1"><img [src]="mainlist[1].img" [alt]="mainlist[1].alt" style="max-width: 150px; width: 100%;"></button>
<button routerLink="/sub2"><img [src]="mainlist[2].img" [alt]="mainlist[2].alt" style="max-width: 150px; width: 100%;"></button>
<p>
  <button routerLink="/sub3"><img [src]="mainlist[3].img" [alt]="mainlist[3].alt" style="max-width: 150px; width: 100%;"></button>
  <button routerLink="/sub4"><img [src]="mainlist[4].img" [alt]="mainlist[4].alt" style="max-width: 150px; width: 100%;"></button>
</p>
<p>
  <button routerLink="/sub5"><img [src]="mainlist[5].img" [alt]="mainlist[5].alt" style="max-width: 150px; width: 100%;"></button>
  <button routerLink="/sub6"><img [src]="mainlist[6].img" [alt]="mainlist[6].alt" style="max-width: 150px; width: 100%;"></button>
</p>
<p>
  <button routerLink="/sub7"><img [src]="mainlist[7].img" [alt]="mainlist[7].alt" style="max-width: 150px; width: 100%;"></button>
  <button routerLink="/sub8"><img [src]="mainlist[8].img" [alt]="mainlist[8].alt" style="max-width: 150px; width: 100%;"></button>
</p>
<p>
  <button routerLink="/sub9"><img [src]="mainlist[9].img" [alt]="mainlist[9].alt" style="max-width: 150px; width: 100%;"></button>
  <button routerLink="/sub10"><img [src]="mainlist[10].img" [alt]="mainlist[10].alt" style="max-width: 150px; width: 100%;"></button>
</p>
<p>

</p>
<p>
  <button routerLink="/sub11"><img [src]="mainlist[11].img" [alt]="mainlist[11].alt" style="max-width: 150px; width: 100%;"></button>
  <button routerLink="/sub12"><img [src]="mainlist[12].img" [alt]="mainlist[12].alt" style="max-width: 150px; width: 100%;"></button>
</p>
<p>
  <button mat-raised-button  routerLink="/sub0" style="max-width: 150px; width: 100%;">登入</button>
</p>
