<div id="top"></div>
<p>
<img [src]="mainlist[0].img" [alt]="mainlist[0].alt">
</p>
<a href="#bottom"><button>跳到底部</button></a>
<p>
<button routerLink="/sub1"><img [src]="mainlist[1].img" [alt]="mainlist[1].alt"></button>
<button routerLink="/sub2"><img [src]="mainlist[2].img" [alt]="mainlist[2].alt"></button><button routerLink="/sub3"><img [src]="mainlist[3].img" [alt]="mainlist[3].alt"></button>
<p>
  <img [src]="mainlist[0].img" [alt]="mainlist[0].alt">
</p>
<p>
<button routerLink="/sub4"><img [src]="mainlist[4].img" [alt]="mainlist[4].alt"></button>
  <button routerLink="/sub5"><img [src]="mainlist[5].img" [alt]="mainlist[5].alt"></button>
  <button routerLink="/sub6"><img [src]="mainlist[6].img" [alt]="mainlist[6].alt"></button>
</p>
<p>
  <img [src]="mainlist[0].img" [alt]="mainlist[0].alt">
</p>
<p>
  <button routerLink="/sub7"><img [src]="mainlist[7].img" [alt]="mainlist[7].alt"></button>
  <button routerLink="/sub8"><img [src]="mainlist[8].img" [alt]="mainlist[8].alt"></button>
  <button routerLink="/sub9"><img [src]="mainlist[9].img" [alt]="mainlist[9].alt"></button>
</p>
<p>
  <img [src]="mainlist[0].img" [alt]="mainlist[0].alt">
</p>
<p>
  <button routerLink="/sub10"><img [src]="mainlist[10].img" [alt]="mainlist[10].alt"></button>
  <button routerLink="/sub11"><img [src]="mainlist[11].img" [alt]="mainlist[11].alt"></button>
  <button routerLink="/sub12"><img [src]="mainlist[12].img" [alt]="mainlist[12].alt"></button>
</p>
<p>
<button routerLink="/sub0">登入</button>
</p>
<a href="#top"><button>跳到頂部</button></a>
<div id="bottom"></div>
