<div><h1>歡迎來到{{mainlist[7].alt}}</h1></div>
<div *ngIf="mybool1">
  {{"true"}}
</div>
<div *ngif="mybool3">
  {{"false"}}
</div>
<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>紅鸞星動，06/15 </mat-card-title>
    <mat-card-subtitle>倒數{{datediff0}}天，或{{week0}}週又{{day0}}天</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
  </mat-card-actions>
  <mat-card-header>
    <mat-card-title>考試通知書，06/19 </mat-card-title>
    <mat-card-subtitle>倒數{{datediff1}}天，或{{week1}}週又{{day1}}天</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <a href="https://wwwc.moex.gov.tw/main/exam/wFrmExamDetail.aspx?c=114080" target="_blank" rel="noopener noreferrer">
      114年公務人員高等考試三級考試暨普通考試
    </a>
  </mat-card-actions>
</mat-card>
<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>重大轉折歷史事件，07/05</mat-card-title>
    <mat-card-subtitle>倒數{{datediff2}}天，或{{week2}}週又{{day2}}天</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    普考資訊處理，07/04，07/05；高考三級資訊處理，07/06，07/07
  </mat-card-actions>
</mat-card>
<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>榜示，09/17</mat-card-title>
    <mat-card-subtitle>倒數{{datediff3}}天，或{{week3}}週又{{day3}}天</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <a href="https://wwwc.moex.gov.tw/main/exam/wFrmExamDetail.aspx?c=114080" target="_blank" rel="noopener noreferrer">
      114年公務人員高等考試三級考試暨普通考試
    </a>
  </mat-card-actions>
</mat-card>
<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>37歲生日，11/27</mat-card-title>
    <mat-card-subtitle>倒數{{datediff5}}天，或{{week5}}週又{{day5}}天</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    1988+1+9+8+8+1+1+2+7，無字天書
  </mat-card-actions>
</mat-card>
<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>預付卡，中華電信</mat-card-title>
    <mat-card-subtitle>自動展延門號效期</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    {{"2025-09-18"}}之後，效期低於15天。
  </mat-card-actions>
</mat-card>
<p>  <button routerLink="/main">
  <img [src]="mainlist[14].img" [alt]="mainlist[14].alt" style="max-width: 150px; width: 100%;">
</button></p>
