<div>
  <h1>歡迎來到{{mainlist[4].alt}}</h1>
  <table>
    <tr>
      <td><label for="subscribe">學習項目：</label></td>
      <td><textarea rows="2" cols="37" [(ngModel)]="textareavalue1"></textarea></td>
    </tr>
    <tr>
      <td><label for="subscribe">學習進度：</label></td>
      <td><textarea rows="2" cols="37" [(ngModel)]="textareavalue2"></textarea></td>
    </tr>
    <tr>
      <td><label for="subscribe">最近學習日：</label></td>
      <td><textarea rows="2" cols="37" [(ngModel)]="textareavalue3"></textarea></td>
    </tr>
    <tr>
      <td><label for="remark">備註：</label></td>
      <td><textarea rows="2" cols="37" [(ngModel)]="textareavalue4"></textarea></td>
    </tr>
    <tr>
      <td colspan="2" style="text-align: center;">
        <button id="button1" (click)="onButton1Click()">新增資料</button>
      </td>
    </tr>
  </table>
  <table>
    <tr>
      <th>學習項目</th>
      <th>學習進度</th>
      <th>最近學習日</th>
      <th>備註</th>
    </tr>
    <tr *ngFor="let data of sub4data">
      <ng-container *ngIf="editTarget === data; else displayRow">
        <td><textarea rows="2" cols="10" [(ngModel)]="data.textareavalue1"></textarea></td>
        <td><textarea rows="2" cols="10" [(ngModel)]="data.textareavalue2"></textarea>
        </td>
        <td><textarea rows="2" cols="10" [(ngModel)]="data.textareavalue3"></textarea></td>
        <td>
          <button (click)="saveEdit(data)">儲存</button>
          <button (click)="cancelEdit()">取消</button>
          <textarea rows="2" cols="10" [(ngModel)]="data.textareavalue4"></textarea>
        </td>
      </ng-container>
      <ng-template #displayRow>
        <td>{{ data.textareavalue1 }}</td>
        <td>{{ data.textareavalue2 }}</td>
        <td>{{ data.textareavalue3 }}</td>
        <button (click)="editRow(data)">修改</button>
        <button (click)="onButton3Click(data)">刪除</button>
        {{calculatePercentage(data.textareavalue2)}}%
        {{calculateMinus(data.textareavalue2)}}
        <td>{{ data.textareavalue4 }}</td>
      </ng-template>
    </tr>
  </table>
  <button routerLink="/main">
    <img [src]="mainlist[14].img" [alt]="mainlist[14].alt" style="max-width: 150px; width: 100%;">
  </button>
</div>
